################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/newweb/.vs/newweb/v16
/newweb/newweb/obj/Debug/netcoreapp3.1
/newweb/newweb/obj
